.my-tooltip {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#map {
  height: 90%;
  width: 100%;
  margin: 0 auto; /* Center the map horizontally */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
}

.legend {
  background: rgba(154, 147, 147, 0.8);
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
}